<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <input class="hidden" type="hidden" value="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAI2CAYAAACmHnqoAAAgAElEQVR4Xuy9Wc8l2XUltmKOuPM35lCZNbM4F8miSIkaLLRpyu2WG7YBCwYMP/gvGH7zm1/8I/zgBcPQqKUBs7/M2IdUa1Q7+due75nhK3/G8Fea+Z36vnGf17snv9SHmm388Lt9Pr6kpokgGECnD2uQuLpGAZVOAAxGnnrgkYNgEb06rYhltocdV4kAa5/yNSzCtfSW0GN1YJudzI+R9ghYunKiCUJmkvJOSGDgCb0gTMXuicaAY2ARkAjoBE4bgQ0oR83dPpCjYBGQCOgEdAIDBwENKEPnLnQPdEIaAQ0AhoBjcBxI6AJ/bih0xdqBDQCGgGNgEZg4CCgCX3gzIXuiUZAI6AR0AhoBI4bAU3oxw2dvlAjoBHQCGgENAIDBwFN6ANnLnRPNAIaAY2ARkAjcNwIaEI/buj0hRoBjYBGQCOgERg4CPw/SYLjuA70mmoAAAAASUVORK5CYII=" name="article[article_image][data]" id="article_article_image">

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
